language: android
jdk: oraclejdk8

android:
  components:
    - build-tools-27.0.3
    - android-27
    - extra-android-support
    - extra-android-m2repository
  licenses:
    - 'android-sdk-license-.+'

before_install:
  - mkdir "$ANDROID_HOME/licenses"
  - echo "d56f5187479451eabf01fb78af6dfcb131a6481e" > "$ANDROID_HOME/licenses/android-sdk-license"

script: 
    ./gradlew clean connectedAndroidTest
