name: Gradle Build

on:
  pull_request:
  push:
    branches:
      - 'main'
  workflow_dispatch:

concurrency:
  group: '${{ github.workflow }}-${{ github.ref }}'
  cancel-in-progress: false

jobs:
  gradle-build:
    name: Gradle Build
    runs-on: ubuntu-latest
    env:
      DEPENDENCY_GRAPH_EXCLUDE_PROJECTS: ':(gradm|initialization|project)'
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          gradle-home-cache-cleanup: true
          validate-wrappers: true
          dependency-graph: generate-and-upload

      - run: ./gradlew build --no-daemon --stacktrace

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: CurrentActivity.apk
          path: 'ca/app/build/outputs/apk/release/ca-app-release.apk'

  gradle-submit-dependency-graph:
    name: Gradle Submit Dependency Graph
    uses: OmicoDev/gradle-project-initializer-template/.github/workflows/gradle-submit-dependency-graph.yml@main
    if: ${{ github.ref == 'refs/heads/main' }}
    needs: gradle-build
    permissions:
      contents: write
